@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: 'BR Hendrix', system-ui, sans-serif;
  }

  body {
    @apply bg-[#fbfbfb] text-black;
  }

  .dark body {
    @apply bg-black text-white;
  }
}

@layer utilities {
  .animate-slide-up {
    animation: slideUp 0.3s ease-out;
  }

  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-slide-progress {
    animation: slideProgress 1.5s ease-in-out infinite;
  }

  @keyframes slideProgress {
    0% {
      left: -33%;
    }
    100% {
      left: 100%;
    }
  }
}
