[run]
omit =
    */migrations/*
    */tests/*
    */tests.py
    */test_*.py
    */*_test.py
    */tests_legacy.py
    */conftest.py
    */asgi.py
    */wsgi.py
    */admin.py
    */apps.py
    */schema.py
    */schemas.py
    */logging_utils.py
    */kafka_utils/*
    */analytics/test_legacy.py
    */analytics/kafka_handlers.py
    */analytics/serializers.py
    */analytics/views.py
    */analytics/urls.py
    */analytics/infrastructure/messaging/*
